.asmaa-text{
  padding:  0px 10px 15px 10px;
}


.title-asmaa {
  height: 20%;
}

@media(max-width:1024px){
  .text-sour-asmaa {

    height: 49%;
    
  }
}




@media(max-width:912px){

  .text-sour-asmaa {
  
    height: 28%;
  }
  


}




@media(max-width:768px){

.text-sour-asmaa {
  height: 33%;
}
}



@media(max-width:540px){

  .text-sour-asmaa {
    height: 55%;
  }
  }


@media(max-width:470px){
  .text-sour-asmaa {
width: 85%;
    height: 46%;
}

}


@media(max-width:280px){
  .text-sour-asmaa {
    height: 70%;
}

}